credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              id: "github-credentials"
              scope: GLOBAL
              username: "RiinaVi"
              description: "Access token for Github repository"
              privateKeySource:
                directEntry:
                  privateKey: ${file:/var/lib/jenkins/github-ssh}
          - basicSSHUserPrivateKey:
                id: "ec2-key"
                scope: GLOBAL
                username: "ubuntu"
                description: "Access token for Github repository"
                privateKeySource:
                  directEntry:
                    privateKey: ${file:/var/lib/jenkins/ec2-key}
          - aws:
              accessKey: "AKIA44TYA2BXLLJW2ZCQ"
              description: "AWS credentials"
              id: "aws-credentials"
              scope: GLOBAL
              secretKey: ${file:/var/lib/jenkins/aws-key}
jenkins:
  agentProtocols:
    - "JNLP4-connect"
    - "Ping"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  disabledAdministrativeMonitors:
    - "hudson.util.DoubleLaunchChecker"
  labelAtoms:
    - name: "built-in"
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
  nodeMonitors:
    - diskSpaceMonitor:
        freeSpaceThreshold: "1GB"
    - tmpSpace:
        freeSpaceThreshold: "1GB"
  numExecutors: 2
  primaryView:
    all:
      name: "all"
  projectNamingStrategy: "standard"
  quietPeriod: 5
  remotingSecurity:
    enabled: true
  scmCheckoutRetryCount: 0
  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false
      users:
        - id: "admin"
          name: "admin user"
          properties:
            - "myView"
            - preferredProvider:
                providerId: "default"
            - "timezone"
            - "experimentalFlags"
            - mailer:
                emailAddress: "riinavi86@gmail.com"
            - "apiToken"
        - id: "riinavi"
          name: "riinavi"
          properties:
            - "apiToken"
            - "myView"
            - preferredProvider:
                providerId: "default"
            - "timezone"
            - "experimentalFlags"
            - mailer:
                emailAddress: "riinavi86@gmail.com"
  slaveAgentPort: -1
  updateCenter:
    sites:
      - id: "default"
        url: "https://updates.jenkins.io/update-center.json"
  views:
    - all:
        name: "all"
  viewsTabBar: "standard"
globalCredentialsConfiguration:
  configuration:
    providerFilter: "none"
    typeFilter: "none"
appearance:
  prism:
    theme: PRISM
security:
  apiToken:
    creationOfLegacyTokenEnabled: false
    tokenGenerationOnCreationEnabled: false
    usageStatisticsEnabled: true
  gitHooks:
    allowedOnAgents: false
    allowedOnController: false
  gitHostKeyVerificationConfiguration:
    sshHostKeyVerificationStrategy: "acceptFirstConnectionStrategy"
unclassified:
jobs:
  - file: /var/lib/jenkins/jobdsl/folders.groovy
  - file: /var/lib/jenkins/jobdsl/pipelines.groovy
